@charset "utf-8";
h1 {
    color: blueviolet;
}

ul {
    color: firebrick;
    font-family: 돋움, Dotum, sans-serif;
}

li {
    color: cornflowerblue;
    font-size: 85%;
    line-height: 1.5;
}

body {
    background-image: url("/images/bg.png");
    background-size: cover;
}